---
layout: default
---

<section class="standalone">
  <div class="grid">

    <div class="unit whole">
      <article>
        <h1>{{ page.title }}</h1>
        <div style="font-size: 90%; margin-bottom: 1em;"><em>If you like this sort of content, you can find me over at <a href="https://twitter.com/pndrej">@pndrej</a>, where I write about things like this more frequently (that is, more than once a year).</em></div>

        {{ content }}
      </article>
    </div>

    <hr />

    You can follow me on Twitter at <a href='https://twitter.com/pndrej'>@pndrej</a> and/or subscribe to my <a href='/blog/feed.xml'>RSS feed</a>.


    <div class="clear"></div>

  </div>
</section>

{% include analytics.html %}
